.DeletePopup {
  .Heading {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 0;
  }

  .ButtonsBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    margin-top: 25px;

    button {
      border: 1px solid #ffffff;
      border-radius: 22px;
      color: #ffffff;
      letter-spacing: 0px;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 24px;
      font-weight: 400;
      &:hover {
        background: #d2beff 0% 0% no-repeat padding-box;
        color: #000000;
      }
    }
  }
}
