// _responsive.scss

.image-container {
    img {
      width: 100%; // Default for larger screens
      max-width: 600px; // Set a max width for larger screens
  
      @include respond-to(md) {
        width: 80%;
      }
  
      @include respond-to(sm) {
        width: 100%;
      }
    }
  }
  
  .form-container {
    form {
      width: 100%; // Default for larger screens
      max-width: 400px; // Set a max width for larger screens
      margin: 0 auto; // Center form
  
      @include respond-to(md) {
        width: 80%;
      }
  
      @include respond-to(sm) {
        width: 100%;
        padding: 0 1rem; // Add padding for small screens
      }
    }
  }
  