// colors
$color-primary: #000000; // Black
$color-white: #ffffff; // White
$color-accent: #d2beff; // Lilac
$color-grey: #30293a; // Grey
$color-purple1: #655095; // Purple
$color-purple2: #8264c8; // Purple
