.auth-wrapper {
  position: relative;
  max-width: 1080px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  .auth-left-image {
    position: absolute;
    top: 240px;
    left: 420px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Send the background behind other content */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: inherit; /* Inherit border radius from the container */
    background: linear-gradient(rgb(89 77 77), rgba(0, 0, 0, 0.463));
  }
  .form-wrapper {
    position: absolute;
    top: 240px;
    left: 991px;
    width: 509px;
    min-height: 600px;
    z-index: 1; /* Ensure form is above background */
    background: #150f1e 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 41px 59px 73px 59px;
    .auth-tabs {
      display: flex;
      gap: 28px;
      margin-bottom: 90px;
      .button-tab {
        cursor: pointer;
        top: 281px;
        left: 1050px;
        width: 54px;
        height: 24px;
        h3 {
          font-size: 20px;
          color: #655095;
          padding-bottom: 4px;
        }
        .active-tab {
          border-bottom: 2px solid #fff;
          color: #fff;
        }
      }
    }
    form {
      .inputWrapper {
        margin-bottom: 40px;
        position: relative;
        .inputBox {
          color: #ffffff;
          width: 100%;
          padding: 0.5rem;
          border: none;
          background-color: transparent;
          outline: none;
          transition: border-color 0.3s ease;
          border-bottom: 1px solid #ffffff;
          padding-left: 0px;
          font-size: 20px;
          
        }
        .inputBox:focus {
          border-bottom-color: #cccccc;
        }
        .inputBox::placeholder {
          font-size: 20px;
          letter-spacing: 0px;
          opacity: 1;
          color: #655095;
        }
        .show-password {
          position: absolute;
          cursor: pointer;
          top: 10px;
          right: 10px;
        }
        .forget-paswword {
          display: flex;
          justify-content: space-between;
          p {
            color: #655095;
            font-size: 14px;
            cursor: pointer;
            &.error {
              color: red;
            }
          }
        }
        .error {
          color: red;
          font-size: 14px;
        }
      }
      .submit-btn {
        cursor: pointer;
        background-color: #d2beff;
        padding: 1.25rem 3rem;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 1.25rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        outline: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin: auto;
        // margin-top: 92px;
        color: #000000;
      }
    }
  }
}
