@import "mixins";
@import "responsive";
@import "auth";

h1,
h2,
h3,
h4,
p {
  padding: 0;
}

body {
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background: #000000 0% 0% no-repeat padding-box;
  color: white;
  /* Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 15px; /* Width of vertical scrollbar */
    height: 12px; /* Height of horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #30293a; /* Background of the track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #150f1e; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners for the handle */
    border: 5px solid #30293a; /* Space around the handle */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #150f1e; /* Handle color when hovered */
  }

  /* Firefox */
  html {
    scrollbar-width: thin; /* Width of the scrollbar (auto, thin, none) */
    scrollbar-color: #30293a #150f1e; /* Color of the scrollbar handle and track */
  }
}
