.BasicContainer {
  width: 100%;
  height: 100%;
  padding: 25px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;

  .ControlArea {
    width: 470px;
    flex-shrink: 0;
    min-height: calc(100vh - 50px);
    background: transparent linear-gradient(180deg, #000000 0%, #00000076 100%)
      0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 24px 25px;

    .ActionArea {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 55px;
      .BackArrowButton {
        width: 44px;
        height: 44px;
        border: 1px solid #ffffff;
        opacity: 1;
        border: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;

        &:hover {
          background: #d2beff 0% 0% no-repeat padding-box;
          cursor: pointer;
          color: #000000;
        }
      }

      .InputButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border: 1px solid #ffffff;
        border-radius: 17px;
        opacity: 1;
        border: 100%;
        color: #ffffff;
        font-size: 20px;
        line-height: 24px;
      }
    }

    .FunctionPats {
      padding: 0 21px;
      .FormatInput {
        display: flex;
        align-items: center;
        gap: 28px;
        color: #ffffff;
        margin-bottom: 30px;

        input {
          width: 100%;
          height: 38px;
          border: 1px solid #ffffff;
          border-radius: 0;
          padding: 2px 20px;
          opacity: 1;
          border: 100%;
          color: #ffffff;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .GtsSlide {
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 30px;
        padding: 15px 17px;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 71px;
      }

      .CheckBoxes {
        display: flex;
        flex-direction: column;
        gap: 22px;

        .SwitchBox {
          display: flex;
          align-items: center;
          gap: 24px;

          .SliderWidth {
            width: 100px;
          }
        }
      }

      .FormatDocumentsIcon {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 33px;
      }
    }

    // listing
  }

  .ControlImageWithPlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .CheckImageSetting {
      width: 100%;
      height: 526px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 20px;
      opacity: 0.7;
      overflow: hidden;
    }

    .ImageDetail {
      width: 100%;
      height: 194px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 20px;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .ImageAbout {
        text-align: center;
        font-size: 70px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }

    .ControlRangeSlider {
      width: 100%;
      height: 270px;
      background: transparent
        linear-gradient(180deg, #000000 0%, #00000080 100%) 0% 0% no-repeat
        padding-box;
      border-radius: 20px;
      opacity: 0.7;
    }
  }
}

// listing
.ListingWrapperBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  height: 100%;

  .ListingBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;

    .ListItem {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;

      svg {
        color: #655095;
      }

      .ListDetailBox {
        height: 63px;
        width: 100%;
        padding: 9px 16px 9px 27px;
        background: #30293a 0% 0% no-repeat padding-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .InOutDate {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 9px;
          padding: 4px 0;

          .Date {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }
        }

        &:hover {
          background: #d2beff 0% 0% no-repeat padding-box;
          color: #000000;

          .Date {
            color: #000000;
          }
        }
      }
    }

    .AddListWrapper {
      width: 100%;
      padding-right: 44px;
      .AddListButton {
        width: 100%;
        height: 39px;
        background: #30293a 0% 0% no-repeat padding-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6.5px 28px;
      }
    }
  }

  .SplitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid #ffffff;
    border-radius: 17px;
    opacity: 1;
    border: 100%;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
  }
}
